body {
  background: url("https://images.unsplash.com/photo-1462331940025-496dfbfc7564") no-repeat center center fixed;
  background-size: cover;
  font-family: Arial;
  font-size: 20;
  padding: 20 0 0 20;
  color: white;
  text-align: center;
}

.main {
  display: inline-block;
  text-align: left;
}

h1 {
  font-size: 30;
  margin-top: 100;
  text-align: center;
}

h2 {
  font-size: 24;
  margin-top: 70;
}

#get-header {
  padding-top: 30;
}

input {
  display: block;
  height: 24;
  width: 400;
  margin-bottom: 10;
}

.upper {
  text-transform: uppercase;
}

table {
  width: 400;
}

td {
  padding-right: 20;
  vertical-align: top;
}

.admin, .user {
  display: none;
}

ul {
  padding-left: 0;
}

.logs {
  width: 400;
}

li {
  overflow-wrap: break-word;
}
