body {
  background: mintcream;
  font-family: Arial;
  font-size: 20;
  padding: 20 0 0 20;
}

h1 {
  font-size: 24;
}

h2 {
  font-size: 24;
}

input {
  display: block;
  height: 24;
  width: 400;
  margin-bottom: 10;
}

#registration, #getById {
  text-transform: uppercase;
}

table {
  width: 400;
}

td {
  padding-right: 20;
  vertical-align: top;
}
