body {
  background: mintcream;
  font-family: Arial;
  font-size: 20;
}

h1 {
  font-size: 24;
}

input {
  display: block;
  height: 24;
  width: 500;
  margin-bottom: 10;
}

#registration {
  text-transform: uppercase;
}
